.single-post {

	// Blue background
	main .article-grid__title {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			z-index: -1;
			background-color: var(--blue-100);
			width: calc(100vw + 100%);
			height: 75%;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: -100%;
			overflow: hidden;
		}
	}
}