.badge {
	display: inline-flex;
	align-items: center;
	min-height: 30px;
	padding-inline: calc(var(--spacing-base) * 2);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: .05em;
	font-weight: var(--fw-semibold);
	border-radius: calc(var(--spacing-base) * 2);
	background-color: transparent;
	color: var(--blue-300);
	border: 1px solid var(--blue-300);
	transition: all .2s ease;

	&:visited,
	&:hover,
	&:focus,
	&:focus-visible {
		color: var(--white);
		background-color: var(--blue-300);
	}

	// Styles
	&--post_tag {
		font-size: 14px;
		text-transform: none !important;
		color: var(--blue-300);
		background-color: var(--blue-100);
		border: none;
		border-radius: calc(var(--spacing-base) * .25);
		padding-inline: var(--spacing-base);
	}
}