/* ----------------
BASE
------------------------------*/
:root, html, body {
  font-family: var(--ff-base);
	font-weight: var(--fw-base);
	font-size: var(--fs-base);
  font-style: normal;
	line-height: var(--lh-base);
	color: var(--text-base);
}

/* ----------------
HEADINGS
------------------------------*/
@each $name, $size in $fs-map {
	#{$name} {
		font-size: $size;
		line-height: var(--lh-sm);
		max-width: var(--textMaxWidth);
	}

	.#{$name} {
		font-size: $size;
	}
}


@for $i from 1 through 3 {
	.hd#{$i} {
		font-size: var(--hd#{$i});
	}
}


// Margin-top for headings after a typography block
:where(address, blockquote, dl, figure, form, ol, p, pre, table, ul) {
  ~ :is(h1, h2, h3, h4, h5, h6) {
    margin-top: calc(var(--type-spacer) * 1.5);
  }
}

/* ----------------
OTHER TEXT ELEMENTS
------------------------------*/

// Paragraphs
p {
	max-width: var(--textMaxWidth);
	margin-bottom: calc(var(--type-spacer) * 3);
}

// Lists
:where(dl, ol, ul) {
  padding-right: 0;
  padding-left: var(--layout-spacer);
  padding-inline-start: var(--layout-spacer);
  padding-inline-end: 0;

  li {
    margin-bottom: calc(var(--type-spacer) * 0.25);
  }
}

:where(dl, ol, ul) {
  :is(dl, ol, ul) {
    margin-top: calc(var(--type-spacer) * 0.25);
  }
}


// a.external-link {
// 	display: inline;

// 	&::after {
// 		content: "";
// 		mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjEgMTN2MTBoLTIxdi0xOWgxMnYyaC0xMHYxNWgxN3YtOGgyem0zLTEyaC0xMC45ODhsNC4wMzUgNC02Ljk3NyA3LjA3IDIuODI4IDIuODI4IDYuOTc3LTcuMDcgNC4xMjUgNC4xNzJ2LTExeiIvPjwvc3ZnPg==");
// 		mask-size: contain;
// 		background: currentColor;
// 		opacity: 0.8;
// 		display: inline-block;
// 		position: relative;
// 		margin-left: 0.25em;
// 		height: 0.75rem;
// 		width: 0.75rem;
// 	}

// 	&.wp-block-button__link,
// 	&.button {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 	}
// }

code {
	font-family: "Courier New", Courier, monospace;
	line-height: inherit;
	padding-inline: .15em;
	background-color: lighten($gray-100, 10%);
}