@import "../../node_modules/modern-normalize";

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
ol,
ul {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}