.article-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "sidetop"
    "sidebottom"
    "content";

  @include media-breakpoint-up(sm) {
    gap: 2rem 3rem;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "content sidetop"
      "content sidebottom";
  }

  &__title {
    grid-area: title;
  }

  &__content {
    grid-area: content;
  }

  &__sidetop {
    grid-area: sidetop;
    align-self: self-start;

    @include media-breakpoint-up(lg) {
      transform: translateY(-40%);
      z-index: 2;
    }
  }

  &__sidebottom {
    grid-area: sidebottom;
  }
}

// display: grid;
// grid-template-columns: [alignfull-start] minmax(0, 1fr) [alignwide-start] minmax(0, var(--alignwide-size)) [content-start] min(100% - var(--padding-inline),
//     var(--content-max-width)) [content-end] minmax(0, var(--alignwide-size)) [alignwide-end] minmax(0, 1fr) [alignfull-end];

// @include media-breakpoint-up(sm) {
//   grid-template-columns: [alignfull-start] minmax(0, 1fr) [alignwide-start] minmax(0, var(--alignwide-size)) [content-start] min(100% - (var(--padding-inline) * 2),
//       var(--content-max-width)) [content-end] minmax(0, var(--alignwide-size)) [alignwide-end] minmax(0, 1fr) [alignfull-end];
// }
// }

// .page-grid> :not(.alignwide, .alignfull),
// .alignfull> :not(.alignwide, .alignfull) {
//   grid-column: content;
// }

// .page-grid>.alignfull {
//   grid-column: alignfull;
//   display: grid;
//   grid-template-columns: inherit;
// }

// .page-grid>.alignwide,
// .alignfull>.alignwide {
//   grid-column: alignwide;
// }

// /* Fix alignment when nesting groups so we can still organize the editor and have alignside for children. */
// .page-grid>.wp-block-group .wp-block-group.alignwide {
//   margin-left: calc(var(--alignwide-size) * -1) !important;
//   margin-right: calc(var(--alignwide-size) * -1) !important;
//   width: calc(100% + (var(--alignwide-size) * 2));
// }