@each $name, $size in $fs-map {
	.#{$name} {
		font-size: $size;
	}

	#{$name} {
		font-size: $size;
	}
}

// Using padding allows us to use background colors, images and pseudo elements on container elements more easily than max-width
// Using padding-inline keeps it specific to x but still can be overwritten by padding-left or padding-right
// No !important because we are all adults here
.container {
	padding-inline: var(--container-padding);
}

// Color utility styles
@each $name, $color in $theme_colors {
	.color-#{$name} {
		color: #{$color}
	}

	.link-#{$name} {
		color: #{$color};

		&:hover,
		&:focus {
			color: contrast-color($color);
		}
	}

	.background-color-#{$name} {
		background-color: #{$color}
	}
}

// Text utility styles
.text-underline {
	text-decoration: underline;
}

.text-bold {
	font-weight: bold;
}

// Helpful wrapper when we want to modify output content from a WYSIWYG field, or <InnerBlocks/>
.adjust-wysiwyg {

  // Remove the margin bottom from the last child of this div; helpful when we want to remove the default margin-bottom of the <p> to better align our copy in the space
  >*:last-child {
    margin-bottom: 0 !important;
  }
}

// A11y
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  @include visually-hidden();
}

a#skip-to-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 10000;
  background-color: $yellow-500;
  @extend .link-white;
}

.h-100 {
	height: 100% !important;
}