ul.wp-block-post-template {
	display: grid !important;
	justify-content: center !important;
	gap: var(--padding-inline) !important;
	padding: 0 !important;

	li.wp-block-post {
		width: 100% !important;
	}

	// Columns
	&.columns-2 {
		grid-template-columns: repeat(1, 1fr);

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.columns-3 {
		grid-template-columns: repeat(1, 1fr);

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&.columns-4 {
		grid-template-columns: repeat(1, 1fr);

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(xl) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&.columns-5 {
		grid-template-columns: repeat(1, 1fr);

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-breakpoint-up(xl) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	&.columns-6 {
		grid-template-columns: repeat(2, 1fr);

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}