/* ----------------
Various utils, added as needed
------------------------------*/
.fw-bold {
  font-weight: bold !important;
}

.list-unstyled {
  padding-left: 0 !important;
  list-style: none !important;
}


/* ----------------
ALLY
------------------------------*/
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  @include visually-hidden();
}

a#skip-to-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 10000;
  background-color: $yellow-500;
  // @extend .link-white;
}